
/* Default wide-screen styles */
@media screen and (max-width: 1500px) {
	html, body {
		height: 99%;
	}

	body
	{
		background: #EFEFEF;
		color: #4C4C4C;
		font-family: "PT Sans", Arial;
		font-size: 16px;
		overflow: hidden;
	}

	#mainWrap{
		border: 6px solid pink; /* FFFF00 amarillo */
		/*display: block;*/
		height: 99%;
		/*margin-left: px;*/
		width: 99%;
	}

	.card{
		border: 2px solid black;
		height: 3em;
		width: 2em;		
	}
}

@media all and (max-device-height: 480px) {
	body
	{
		background: #EFEFEF;
		color: #4C4C4C;
		font-family: "PT Sans", Arial;
		font-size: 16px;
		margin: 0;
	}
	#mainWrap{
		border: 6px solid red; /* FFFF00 amarillo */
		/*display: block;*/
		height: 97%;
		/*margin-left: px;*/
		width: 97%;
	}

	.card{
		border: 2px solid black;
		height: 3em;
		width: 2em;		
	}
}
@media all and (max-device-height: 578px) {
	/* styles for narrow desktop browsers and iPad landscape */
	#mainWrap{
		border: 6px solid blue; /* FFFF00 amarillo */
		/*display: block;*/
		height: 97%;
		/*margin-left: px;*/
		width: 97%;
	}
}