
 /* Default wide-screen styles */

@media all and (min-width: 769px) {
    /* styles for narrow desktop browsers and iPad landscape */
    body{
		border: 2px #3399FF solid; /* FFFF00 amarillo */
	}
}

@media all and (min-width: 1024px) {
    /* styles for narrow desktop browsers and iPad landscape */
    body{
		border: 2px red solid; /* FFFF00 amarillo */
	}
}

@media all and (max-width: 768px) {
    /* styles for narrower desktop browsers and iPad portrait */
    body{
		border: 2px yellow solid; /* FFFF00 amarillo */
	}
}

@media all and (max-width: 480px) {
    /* styles for iPhone/Android landscape (and really narrow browser windows) */
    body{
		border: 2px black solid; /* FFFF00 amarillo */
	}
}

@media all and (max-width: 320px) {
    /* styles for iPhone/Android portrait */
    body{
		border: 2px green solid; /* FFFF00 amarillo */
	}
}

@media all and (max-width: 240px) {
    /* styles for smaller devices */
    body{
		border: 2px cyan solid; /* FFFF00 amarillo */
	}
}